.firstlevel{
	cursor: pointer;

	display: grid;
	grid-template-columns: auto 1fr;
	gap: 20px;
	align-items: center;
	
	margin-top: 20px;

	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
	color:var(--dark-grey);

}

.firstlevelactive,
.firstlevel:hover{
	color: var(--primary);
}

.firstlevelactive svg,
.firstlevel:hover svg{
	fill: var(--primary);
}





.secondlevel{
	cursor: pointer;

	margin-bottom: 10px;

	font-size: 12px;
	font-weight: 300;
	line-height: 16px;
	color:var(--dark-grey);
	text-transform: uppercase;
}

.secondblock{
	margin-top: 15px;
	margin-left: 12px;
	padding-left: 32px;	
	border-left: 1px solid #DFDFDF;
}

/* .secondlevelblock{
	
} */

.secondlevelblockopened:last-child{
	margin-bottom: 20px;
}

.thirdlevel{
	display: block;
	display: none;

	margin-bottom: 10px;

	font-size: 14px;
	font-weight: 600;
	line-height: 19px;
	color:var(--dark-grey);
}

.thirdlevelactive{
	display: block;
}
