.product {
	display: grid;
	grid-template-columns: [start] 70px [logoend] 30px [titlestart] calc(50% - 100px) [middle] 1fr [pricestart] auto [priceend] 40px [creditstart] auto [creditend] 40px [ratestart] auto [end];
	margin-bottom: 30px;
	padding: 30px;
}

.logo{
	grid-column: start/logoend;
	grid-row: 1 / span 2;
	margin-bottom: 18px;
}

.title, .tags{
	grid-column: titlestart/middle;
}

.priceblock, .pricetitle{
	grid-column: pricestart/priceend;
}

.credit, .credittitle{
	grid-column:creditstart/creditend;
}

.rate, .ratetitle{
	grid-column:ratestart/end;
}

.hr,.description,.actions{
	grid-column:start/end;	
}

.feature{
	grid-column:start/middle;	
}

.advblock{
	grid-column:middle/end;
}

.logo img{
	border-radius: 5px;
}

.title{
	align-self: flex-end;
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;
	margin-bottom: 9px;
}

.price,.credit,.rate{
	align-self: flex-end;
	font-weight: 400;
	font-size: 20px;
	line-height: 27px;
	margin-bottom: 9px;
}

.month{
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
}


.pricetitle,.credittitle,.ratetitle{
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
}

.priceblock{
	display: grid;
	grid-template-columns: 1fr auto ;
	align-items: center;
	gap: 10px;
}

.description{
	padding: 20px 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.advantages{
	border-left: solid 2px var(--green);
}

.disadvantages{
	border-left: solid 2px var(--red);
}

 