.product {
	display: grid;
	grid-template-columns: [start] 70px [logoend] 30px [titlestart] calc(50% - 100px) [middle] 1fr [pricestart] auto [priceend] 40px [creditstart] auto [creditend] 40px [ratestart] auto [end];
	gap: 10px 0;

	margin-bottom: 30px;
	padding: 30px;
}

.logo{
	grid-column: start/logoend;
	grid-row: 1 / span 2;
	margin-bottom: 18px;
}

.title, .tags{
	grid-column: titlestart/middle;
}

.priceblock, .pricetitle{
	grid-column: pricestart/priceend;
}

.credit, .credittitle{
	grid-column:creditstart/creditend;
}

.rate, .ratetitle{
	grid-column:ratestart/end;
}

.hr,.description,.actions{
	grid-column:start/end;	
}

.feature{
	grid-column:start/middle;	
}

.advblock{
	grid-column:middle/end;
}

.logo img{
	border-radius: 5px;
}

.title{
	align-self: flex-end;

	margin-bottom: 9px;

	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
	white-space: normal;
}

.price,.credit,.rate{
	align-self: flex-end;

	margin-bottom: 9px;

	font-size: 20px;
	font-weight: 400;
	line-height: 27px;
	white-space: nowrap;
}

.month{
	font-size: 14px;
	font-weight: 400;
	line-height: 19px;
}


.pricetitle,.credittitle,.ratetitle{
	font-size: 14px;
	font-weight: 400;
	line-height: 19px;
}

.priceblock{
	display: grid;
	grid-template-columns: 1fr auto ;
	gap: 10px;
}

.oldprice{
	align-self: flex-end;
	margin-bottom: 10px;
}

.description{
	padding: 20px 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.advantages{
	margin-bottom: 20px;
	padding-left: 15px;
	border-left: solid 3px var(--green);
}

.disadvantages{
	padding-left: 15px;
	border-left: solid 3px var(--red);
}

.advantagestitle{
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
}

.advantagestext{
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

.reviewbutton{
	margin-left: 20px;
}


.featureitem{
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: 15px;
	padding-right: 60px;
}

.featuredotes{
	align-self: flex-end;
	margin-bottom: 10px;
	border-top: 1px dashed var(--light-grey);
}

.featuretitle{
	font-size: 16px;
	font-weight: 700;
	line-height: 32px;
}

.featurevalue{
	align-self: center;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
}



@media (max-width:1400px){
	.product {
		grid-template-areas: 
			"logo . title title title title title "
			"logo . tags tags tags tags tags "
			"priceblock priceblock priceblock . credit . rate "
			"pricetitle pricetitle pricetitle . credittitle . ratetitle "
			"hr hr hr hr hr hr hr "
			"description description description description description description description "
			"feature feature feature feature feature feature feature "
			"advblock advblock advblock advblock advblock advblock advblock "
			"hr2 hr2 hr2 hr2 hr2 hr2 hr2 "
			"actions actions actions actions actions actions actions "
			;
		grid-template-columns:  70px  30px  auto  40px  auto  40px 1fr ;

	}

	.logo{
		grid-area: logo;
	}

	.title{
		grid-area: title;
	}

	.tags{
		grid-area: tags;
	}

	.priceblock{
		grid-area: priceblock;
	}

	.credit{
		grid-area: credit;
	}

	.rate{
		grid-area: rate;
	}

	.pricetitle{
		grid-area: pricetitle;
	}

	.credittitle{
		grid-area: credittitle;
	}

	.ratetitle{
		grid-area: ratetitle;
	}

	.hr{
		grid-area: hr;
	}

	.description{
		grid-area: description;
	}

	.feature{
		grid-area: feature;
	}

	.advblock{
		grid-area: advblock;
	}

	.hr2{
		grid-area: hr2;
	}

	.actions{
		grid-area: actions;
	}

}
 
@media (max-width:880px){
	.product {
		grid-template-areas: 
			"logo . title"
			"logo . tags"
			"pricetitle . priceblock "
			"credittitle . credit "
			"ratetitle . rate"
			"hr hr hr  "
			"description description description  "
			"feature feature feature  "
			"advblock advblock advblock "
			"hr2 hr2 hr2  "
			"actions actions actions  "
			;
		grid-template-columns:  70px  30px  1fr ;

	}
}