.product {
	display: grid;
	grid-template-columns: [start] 70px [logoend] 30px [titlestart] calc(50% - 100px) [middle] 1fr [pricestart] auto [priceend] 40px [creditstart] auto [creditend] 40px [ratestart] auto [end];
	gap: 10px 0;

	margin-bottom: 30px;
	padding: 30px;
}

.logo{
	grid-column: start/logoend;
	grid-row: 1 / span 2;
	margin-bottom: 18px;
}

.title, .tags{
	grid-column: titlestart/middle;
}

.priceblock, .pricetitle{
	grid-column: pricestart/priceend;
}

.credit, .credittitle{
	grid-column:creditstart/creditend;
}

.rate, .ratetitle{
	grid-column:ratestart/end;
}

.hr,.description,.actions{
	grid-column:start/end;	
}

.feature{
	grid-column:start/middle;	
}

.advblock{
	grid-column:middle/end;
}

.logo img{
	border-radius: 5px;
}

.title{
	align-self: flex-end;

	margin-bottom: 9px;

	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
}

.price,.credit,.rate{
	align-self: flex-end;

	margin-bottom: 9px;

	font-size: 20px;
	font-weight: 400;
	line-height: 27px;
}

.month{
	font-size: 14px;
	font-weight: 400;
	line-height: 19px;
}


.pricetitle,.credittitle,.ratetitle{
	font-size: 14px;
	font-weight: 400;
	line-height: 19px;
}

.priceblock{
	display: grid;
	grid-template-columns: 1fr auto ;
	gap: 10px;
	align-items: center;
}

.description{
	padding: 20px 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.advantages{
	margin-bottom: 20px;
	padding-left: 15px;
	border-left: solid 3px var(--green);
}

.disadvantages{
	padding-left: 15px;
	border-left: solid 3px var(--red);
}

.advantagestitle{
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
}

.advantagestext{
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

.reviewbutton{
	margin-left: 20px;
}


.featureitem{
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: 15px;
	padding-right: 60px;
}

.featuredotes{
	align-self: flex-end;
	margin-bottom: 10px;
	border-top: 1px dashed var(--light-grey);
}

.featuretitle{
	font-size: 16px;
	font-weight: 700;
	line-height: 32px;
}

.featurevalue{
	align-self: center;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
}



@media (max-width:1400px){
	.product {
		grid-template-columns: [start] 70px [logoend] 15px [titlestart] calc(50% - 100px) [middle] 1fr [pricestart] auto [priceend] 20px [creditstart] auto [creditend] 20px [ratestart] auto [end];
	}
}
 