/* stylelint-disable selector-class-pattern */
.sortIcon {
	display: none;
}

.active {
	font-weight: bold;
	color:var(--primary);
}

.active .sortIcon {
	display: block;
	margin-right: 8px;
}

.sort{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap:40px;
	align-items: center;
}

.sort span{
	display: grid;
	grid-template-columns: 20px 1fr;
	gap:20px;	
	align-items: center;
}


