.reviewform {
	display: grid;
	grid-template-columns: [start] auto 1fr auto [end];
	gap: 20px 30px;
	align-items: center;

	margin-top: 30px;

	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.description, .submit{
	grid-column: start/end;
}

.title{
	justify-self: left;
}

.rating{
	display: grid;
	grid-template-columns: auto 1fr;
	gap:20px;
	align-items: center;
}

.disclamer{
	margin-left: 15px;
}

.success{
	position: relative;

	margin-top: 20px;
	padding: 20px;

	background: var(--light-green);
	border-radius: 5px;
}

.successicon{
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
}

.successtitle{
	font-weight: bold;
}

@media (max-width:1150px){
	.reviewform {
		grid-template-columns: [start] auto auto [end];
	}

	.rating{
		grid-column: start/end;
	}

	.title{
		justify-self: normal;
	}
}

@media (max-width:1150px){
	.reviewform {
		grid-template-columns: [start] auto  [end];
	}
}

@media (max-width:765px){
	.reviewform {
		grid-template-columns: [start] auto auto [end];
	}
}

@media (max-width:640px){
	.reviewform {
		grid-template-columns: [start] auto [end];
	}
}


