.reviewform {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;

	display: grid;
	grid-template-columns: [start] auto 1fr auto [end];
	gap: 20px 30px;

	margin-top: 30px;
}

.description, .submit{
	grid-column: start/end;
}

.title{
	justify-self: left;
}

.rating{
	display: grid;
	grid-template-columns: auto 1fr;
	gap:20px;
}

.disclamer{
	margin-left: 15px;
}